/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Typography baseline corrections
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Typography baseline corrections
================================================== */

	h1 { line-height: 49px; margin-bottom: 14px;}
	h2 { line-height: 42px; margin-bottom: 10px; }
	h3 { line-height: 35px; margin-bottom: 7px; }
	h4 { line-height: 28px; margin-bottom: 7px; }
	h5 { line-height: 21px; }

	p { margin: 0px 0px 21px 25px; }
	p.body { margin: 7px 100px 21px 50px; }
	p.homebody { 
		margin: 20px 100px 21px 50px;
		position: relative; top:0px;]
		background: #ffffff;
		font-size: 140%; 
		color: #ffffff ;

}
	
	p.email { margin: 40px 0px 0px 305px; }
	
/*	Blockquotes  */
	blockquote, blockquote p { line-height: 21px; }
	blockquote { margin: 0 0 21px; padding: 7px 20px 0 19px; }

	hr { margin: 14px 0 28px; }

/* #Lists */

	ul, ol { margin-bottom: 21px; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 7px 0 7px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 7px; }
	li { line-height: 21px; margin-bottom: 14px; }
	
	a.selected { background:#00618c; }
	a.home {
	width: 30px !important;
		text-indent: -2000px; 
		background: #002c53 url(../images/home4.png) no-repeat 50% 10px !important;
		}
	a.contact {
		margin: 0px 0px 0px 410px; 
		color: #ffffff; 
		text-decoration: none;
		}	

	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

	img.home {
		min-height: 100%;
		min-width: 1024px;
		width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
	}
	
	html,body{ height: 100% }


/* #Site Styles
================================================== */

#holder{ /* Used to hold all content and fix bottom bads to bottom */
	min-height: 100%;
	position: relative;
}

#body{
	padding-bottom: 50px;    /* height of footer */
}

footer{
	height: 50px; 
	width:100%;
	position: absolute;
	left: 0;
	bottom: 0; 
}

.galleria{ 
	width: auto; height: 500px; background: whitebar c; 
	margin: 0px 160px 21px 80px; 
}

body .galleria-images{ background: #E0EEEE } 

.galleria-bar { background: #000000; }


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*Bands*/
.band {
	background: #ffffff;
}

.band.header {
	background: #ffffff;
}

.band.navigation {
	margin: 14px 0px 14px 0px;
	padding: 0px 0px 0px 0px;
	background: #002c53 !important;
	position: relative; top:0px;]
}

.band.content {
	margin: 14px 0px 14px 0px;

}

.whitebackground {
	margin: 260px 0px 14px 0px;
	padding: 14px 10px 7px 10px;
	background: #ffffff;
	position: relative; top:0px;]
	
}
.band.footer {
	margin: 70px 0px 0px 0px;
	padding: 4px 0px 0px 0px;
	background: #13a69c;

}
.band.bottom {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 7px 0px;
	background: #002c53;

}

.band.bottom p {
	font-size: 90%; 
	margin: 0px 20px 0px 7px;
	text-align: right;
	color: white;
}

.mobileonly {
	display: none; !important
}

/* #Navigation
================================================== */
nav.primary ul,
nav.primary ul li {
	margin: 0px;
}

nav.primary select {
	display: none;
	width: 100%;
	height: 28px;
	margin: 21px 0
}

nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
}

nav.primary ul li a {
	display: inline-block;
	line-height: 40px;
	padding: 0 20px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;
}

nav.primary ul li a:hover{
	background: #2a6da9;
	cursor: pointer;
}

/* #Sub Navigation
================================================== */
nav.primary ul ul {
	position: absolute;
	z-index: 999;
	height: 0px;
	overflow: hidden;
	min-width: 100%;
	background: #002c53;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);		
}

nav.primary ul li:hover ul {
	height: auto;
	overflow: auto;
}

nav.primary ul li:hover > a {
	background: #2a6da9;	
}

nav.primary ul ul li {	
	float: none;
	display: list-item;
	border-bottom: 1px solid #10416c;
}

nav.primary ul ul li a {
	display: block;
	text-align: left;
	line-height: 35px;
	text-transform: none;
}

/* #Page Styles
================================================== */

#backtotop {
	cursor : pointer;
	color : #ffffff;
	margin: 0px 0px 0px 80px; 
}

/* #Media Queries
================================================== */

		/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
			.galleria{ height: 700px;}
	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		nav.primary ul li a {font-size: 85%;}
		p.body { margin: 0px 40px 14px 25px; }
		
		.galleria {
		width: auto; height: 500px; background: #000; 
		margin: 0px 50px 21px 25px; 
		}

		a.contact {
		margin: 0px 0px 0px 390px; 
		color: #ffffff; 
		}
		
		#backtotop {
		margin : 0px 0px 0px 25px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		h1 {text-align:center; margin: 5px 0px 0px 0px;}
		
		nav.primary select {
			display: block;
		}
		
		nav.primary ul {
			display: none;}

		p.body { margin: 0px 10px 14px 20px; }
		.galleria {
		width: auto; height:350px; background: #000; 
		margin: 0px 20px 21px 20px; 
		}

		a.contact {
		margin: 0px 0px 0px 20px; 
		color: #ffffff; 
		}
		
		#backtotop {
			margin : 0px 0px 0px 20px;
		}
	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		h1 {text-align:center; margin: 5px 0px 0px 0px;}
		.galleria{ height: 250px;}
	
		a.contact {
		margin: 0px 0px 0px 20px; 
		color: #ffffff; 
		}
		
		#backtotop {
		margin : 0px 0px 0px 20px;
		}
	}
	


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/